@charset "UTF-8";
/* Custom CSS declarations below  */


/*navigation bar*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgb(0, 139, 139) !important;
}

/*nav pills*/
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font: Quicksand, sans-serif;
}

/*color changes when hovered over nav pills*/
a:hover {
    color: rgb(0, 139, 139);
}

/*heading */
h1 {
  font: bold 3.0em Quicksand, sans-serif;
  height: 65px;
  color: rgb(0, 139, 139)
}

/*heading 2*/
h2 {
  font: bold 4.0em Quicksand, sans-serif;
  height: 65px;
  color: rgb(0, 139, 139);
  padding-top: 15px;
  padding-bottom: 90px;
}

/*heading 3*/
h3 { font: bold 1.5em Quicksand, sans-serif;
    color: #000000;
}

/*heading 4*/
h4 {
  font: bold 2.0em Quicksand, sans-serif;
  height: 45px;
  color: #000000;
  margin: auto;
}

/*heading 5*/
h5 {
  font: bold 2.0em Quicksand, sans-serif;
  height: 45px;
  color: #000000;
  margin-top: 10px;
}

/*paragraph text*/
p {
    font: 1.0em Quicksand, sans-serif;
    color: #6e6a6a;
}

/*body and background color*/
body {
    font-family: Quicksand, sans-serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 10% 0;
    background-color: white;
}


div.b {
	color: #E9967A;
	font-size: 400%;
	font-weight: bold;
}

div.c {
	color: #000000;
}

div.carousel-inner {
    align-items: center;
}

div.contact {
    font: 3.0em Merriweather, sans-serif;
}

div.lead {
    font: bold 3.0em Merriweather, sans-serif;
    color: black;
}

h1.display-4 {
    font: bold 1.0em Merriweather, sans-serif;
}

p.lead {
    color: black;
    padding-left: 10px;
}

.logo {
  width: 58%;
}




/* Three image containers */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/*rep drawing image*/
.container {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

/* Rep photo */
.rep2020 {
   margin-bottom: 35px;
}

/* Headshot photo */
.headshot {
  
}

/* Modal Pics */
.modalpic {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}


/* Header image home page */
.headerimage {
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}

/* Jumping photo */
.jump {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width:65%;
}


/* Font Awesome Icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: right;
  text-decoration: none;
  margin: 5px 2px;
}

/* FA Hover */
.fa:hover {
  opacity: 0.7;

}



/* Instagram */
.fa-instagram {
  background: none;
  color: rgb(0, 139, 139);
}

/* Events Page Carousel */
.carousel {
    width:640px;
  height:425px;
  margin: auto;
}

/* Home Page Image Gallery Modal */
.carousel-modal {
    width: 100%;
    margin: auto;
}

/* Buttons on Merchandise Page */
.btn {
    background-color: rgb(0, 139, 139);
    border: none;
    text-decoration: none;
    margin-bottom: 5px;
}

/* Buttons Hover on Merchandise Page */
.btn:hover {
    background-color: #6e6a6a;
    text-decoration: underline;
}

/* Dust on a Rose pic*/
.dustrose {
    margin-right: 20px;
}

/* Dust on a Rose pic*/
.dustrose2 {
    margin-left: 20px;
}

/* Dropdown menu */
.dropdown-menu, .dropdown-item {
    color: black;
    text-decoration: none;
    background-color: white;
}

/* Dropdown menu */
.dropdown-menu, .dropdown-item:hover {
    color: #A9A9A9;
    background-color: white;
} 

